.field {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 0px;
  margin-right: -1px;
  margin-top: -1px;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 70px;
  width: 70px;
}

.field:disabled {
  color: black;
}
